/.idea/

# recommended location for archives
/.archive/

# recommended location for build artifacts
/.build/

# unit testing artifacts
/phpunit.xml
/phpunit/

# compiled configuration, package manager installation
/configuration/config.env.yml
/src/CachedContainer.php
/vendor/
