# recommended location for archives
/.archive/

# recommended location for build artifacts
/.build/

# recommended location for "build server" build artifacts
/.buildserver/

# doctrine proxy location
/.doctrine/

# testing
/.error.log
/phpunit.xml
/.phpunit/

# compiled configuration, package manager installation
/bin/composer
/configuration/config.env.yml
/src/CachedContainer.php
/vendor/

# sensitive stuff
/.keys/
