# temp spaces for dev
/.archive/
/.build/
/.buildserver/

# testing
/.error.log
/phpunit.xml
/.phpunit/

# package installation
/bin/composer
/vendor/

# compiled configuration
/config/.env
/src/CachedContainer.php
/.doctrine/

# sensitive stuff
/.keys/
/bin/util/aws-scripts/
