parameters:
    excludes_analyse:
        - %rootDir%/../../../src/CachedContainer.php
    ignoreErrors:
        - '#Repository\) does not accept Doctrine\\Common\\Persistence\\ObjectRepository#'
        - '#should return Hal\\Core\\Entity\\(.)+\|null but returns object#'

