parameters:
    debug: false

    github.token: ''
    github.baseurl: 'http://git/api/v3/'
    github.com.token: ''

    hal.baseurl: 'http://hal9000/'

    # system PATH inherited by build scripts
    environment.path: ''

    # system HOME inherited by build scripts
    # Leave this empty to use the system temporary directory | recommended path: 'PROJECT_DIRECTORY/.build/home'
    environment.home: ''

    # temporary storage for build and push artifacts
    # Leave this empty to use the system temporary directory | recommended path: 'PROJECT_DIRECTORY/.build'
    environment.temp: ''

    # file path to store permanent archives of builds        | recommended path: 'PROJECT_DIRECTORY/.archive'
    environment.archive: ''

    # user used to SSH and RSYNC to target servers
    push.sshUser: ''

    # Core logger service hostname
    # Only required in standalone installations
    logger.mcp.host: 'http://qlsonictest:2581/web/core/logentries'

    # doctrine configuration
    doctrine.connection:
        driver:     pdo_mysql
        host:       localhost
        user:       root
        password:
        dbname:     hal
    doctrine.devmode: true

    email.from.name: 'HAL9000 - DEV'
    email.notify:
        - 'yourname@quickenloans.com'
