# Standalone installation only

parameters:
    github.token: ''
    github.baseurl: 'http://git/api/v3/'
    github.com.token: ''

    # system PATH inherited by build scripts
    agent.environment.path: ''

    # system HOME inherited by build scripts
    # Leave this empty to use the system temporary directory
    # recommended location: 'PROJECT_DIRECTORY/.build/home'
    agent.environment.home: ''

    # temporary storage for build and push artifacts
    # Leave this empty to use the system temporary directory
    # recommended location: 'PROJECT_DIRECTORY/.build'
    agent.environment.temp: ''

    # file path to store permanent archives of builds
    # recommended location: 'PROJECT_DIRECTORY/.archive'
    agent.environment.archive: ''

    # user used to SSH and RSYNC to target servers
    agent.ssh-user: ''

    # Core logger service hostname
    mcp-logger.host: 'qlsonictest'

    # doctrine configuration
    doctrine.connection:
        driver:     pdo_mysql
        host:       localhost
        user:       root
        password:
        dbname:     hal
    doctrine.devmode: true
    doctrine.mappings:
        - '%annotations_suck%'